body {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

#logo {
  width: 22vw;
  min-width: 200px;
  padding: 20px;
}

.socialmedialinks a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 48px;
  padding: 0px 10px;
}

.socialmedialinks a:hover {
  opacity: 1;
}
